<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="TljEntities" connectionString="metadata=res://*/TljModel.csdl|res://*/TljModel.ssdl|res://*/TljModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-7BD9QGIU4QO;Initial Catalog=Tlj;User ID=sa;Password=tym.123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>