<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    <add name="TljEntities" connectionString="metadata=res://*/TljModel.csdl|res://*/TljModel.ssdl|res://*/TljModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XIN\SQL2008;Initial Catalog=Tlj;User ID=sa;Password=weixin@123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>